@import "@/styles/style.scss";
.product {
  width: 100%;
  height: auto;

  &__headText {
    @extend %body-lg-600;
    color: $gray-1000;
  }
  &__leftContent {
    width: 98%;
    height: auto;
  }
  &__rightContent {
    width: 98%;
    height: auto;
    margin-left: auto;
  }
  &__formField {
    width: 100%;
    height: auto;
    margin: 25px 0px;
  }
  &__errorMsg {
    @extend %body-xs-400;
    color: $danger;
    display: inline-block;
  }
  &__labelText {
    @extend %body-sm-500;
    margin-bottom: 4px;
    display: block;
    color: $gray-1000;
  }
  &__textArea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $gray-300;
    color: $gray-1000;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &:focus {
      border: 2px solid $greenGray7;
      outline: none;
    }
  }
  &__tagsInputContainer {
    display: flex;
    align-items: center;
    padding: 2px 0px;
  }
  &__tagsList {
    width: 100%;
    height: auto;
    padding: 8px;
    border: 1px solid $gray-300;
    border-radius: 8px;
    margin-top: 4px;
  }
  &__tagContents {
    display: inline-block;
  }
  &__tagItem {
    @extend %body-sm-400;
    color: $gray-1000;
    display: inline-block;
    padding: 4px 10px;
    background-color: $greenGray2;
    margin: 4px;
    border-radius: 25px;
    cursor: pointer;
  }
  &__tagItemActive {
    background-color: $primary;
    color: $white;
  }
  // For Responsive

  @include downMdScreen {
    &__leftContent {
      width: 100%;
    }
    &__rightContent {
      width: 100%;
    }
  }
}
