@import "@/styles/style.scss";
.testimonial {
  position: relative;
  padding: 0px 0px 0px 0px;
  &__headText {
    @extend %heading-05-600;
    color: $gray-1000;
    position: absolute;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
  }

  // For Responsive

  @include smScreen {
    .testimonial__headText {
      top: -2px;
      min-height: 33px;
    }
  }

  @include downMdScreen {
    &__headText {
      font-size: $fs-xxxl;
    }
  }

  @include downSmScreen {
    &__headText {
      font-size: $fs-md;
    }
  }
}
