@import "@/styles/style.scss";
.selectBox {
  width: 300px;
  min-width: 120px;
  &__text {
    @extend %body-sm-400;
    color: $gray-800;
  }
  &__value {
    @extend %body-sm-400;
    color: $gray-800;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  @include downMdScreen {
    width: 150px;
  }
}
