@import "@/styles/style.scss";
.wishList {
  width: 100%;
  height: auto;
  &__tableCell {
    border-bottom: none;
  }
  &__tableRow {
    border-bottom: 1px solid $gray-200;
  }
  &__head {
    color: $gray-1000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    border-bottom: none !important;
  }
  &__productName {
    color: $gray-1000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
  &__productImages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__productImage {
    width: 90px;
    height: auto;
    border-radius: 8px;
    margin-right: 10px;
  }

  &__currencyIcon {
    width: 18px;
    height: 18px;
    margin-top: -3px;
    user-select: none;
  }
  &__discountPrice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $gray-1000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-right: 5px;
  }
  &__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $gray-1000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
  &__priceCondition {
    color: $gray-400;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration: line-through;
  }
  &__shareText {
    @extend %body-sm-400;
    color: $gray-1000;
    margin-right: 10px;
  }
  // For Responsive
  @include downMdScreen {
    &__productName {
      font-size: 12px;
    }
  }
  @include downLgScreen {
    &__discountPrice {
      font-size: 12px;
    }
    &__priceCondition {
      font-size: 12px;
    }
    &__price {
      font-size: 12px;
    }
    &__currencyIcon {
      width: 14px;
      height: 14px;
      margin-top: -2px;
    }
  }
}
