@import "@/styles/style.scss";
// Product Slider Area
.sliderProduct {
  width: 100%;
  height: auto;
  background-color: $white;
  padding: 50px 0px 25px 0px;
  &__wrapper {
    width: 95%;
    margin: 0px auto;
  }

  // For Responsive
  @include smScreen {
    &__wrapper {
      width: 85%;
    }
  }
}

// Buttons Area
.buttons {
  width: 100%;
  height: auto;
  background-color: $white;
  padding: 50px 0px 10px 0px;
  border-bottom: 1px solid $gray-200;
  &__wrapper {
    width: 95%;
    margin: 0px auto;
  }

  // For Responsive
  @include smScreen {
    &__wrapper {
      width: 85%;
    }
  }
}

// Product Details
.productDetails {
  width: 100%;
  height: auto;
  background-color: $white;
  padding: 50px 0px 25px 0px;
  &__wrapper {
    width: 95%;
    margin: 0px auto;
  }

  // For Responsive
  @include smScreen {
    &__wrapper {
      width: 85%;
    }
  }
}

// Related Product Area
.relatedProduct {
  width: 100%;
  height: auto;
  background-color: $white;
  padding: 50px 0px 25px 0px;
  &__wrapper {
    width: 95%;
    margin: 0px auto;
  }

  // For Responsive
  @include smScreen {
    &__wrapper {
      width: 85%;
    }
  }
}
