@import "@/styles/style.scss";
.layout {
  width: 100%;
  height: auto;
  padding: 20px;
  &__navArea {
    width: 100%;
    height: auto;
    padding-right: 20px;
  }
  &__contentArea {
    padding-left: 20px;
  }
}
