/*=============================================
=            These Styles for Overrite Material Ui            =
=============================================*/

/*=============================================
=       If you want to find your desired styling for any component
        then press (ctrl + f) and search component related keyword
=============================================*/

/*=============================================
=            Navbar Area Styling            =
=============================================*/

.navbar .MuiToolbar-root {
  padding: 0px;
}

/*=====  End of Navbar Area Styling  ======*/

/*=============================================
=            This is for Checkbox Component in Atoms            =
=============================================*/
.MuiCheckbox-root {
  padding: 0px;
  color: #4d4d4d;
}
.MuiCheckbox-root.Mui-checked {
  color: #00b207;
}

/*=====  End of This is for Checkbox Component in Atoms  ======*/

/* This is for InputText Component in Atoms============================ */
.inputTextIcon input {
  padding: 16.5px 50px 16.5px 16.5px;
}
.inputText .MuiInputLabel-root.Mui-focused {
  color: #2b572e;
}
.inputText .MuiInputLabel-outlined {
  font-size: 14px;
}
.inputText .MuiOutlinedInput-input {
  width: 100%;
  height: 25px;
  padding: 8px 50px 8px 15px;
}
.inputText .MuiOutlinedInput-notchedOutline {
  border-color: #b3b3b3;
}
.inputText .MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #2b572e;
}
.inputText .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #2b572e;
}
.inputText .MuiOutlinedInput-input .Mui-focused {
  border: 1px solid black;
}

/*=============================================
=            selectBox Atom Styling            =
=============================================*/

.selectBox .MuiInputLabel-root.Mui-focused {
  color: #2b572e;
}
.selectBox .MuiInputLabel-outlined {
  font-size: 14px;
}
.selectBox .MuiOutlinedInput-input {
  width: 100%;
  height: auto;
  max-height: 15px;
  min-height: 0.8rem;
  display: flex;
  align-items: center;
}

.selectBox .MuiFormLabel-root.Mui-focused {
  color: #00b207;
}
.selectBox .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #00b207;
}
.selectBox .MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00b207;
}
.MuiButtonBase-root.MuiMenuItem-root.Mui-selected {
  background-color: #00b207;
}
.MuiMenuItem-root.Mui-selected {
  background-color: #00b207;
  color: #fff;
}
.MuiMenuItem-root.Mui-selected:hover {
  background-color: #00b207;
}

/*=====  End of selectBox Atom Styling  ======*/

/* This is for Location component in molecules========================= */
.location .css-11h6kcg-MuiButtonBase-root-MuiAccordionSummary-root {
  padding: 0px;
}
.location .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none;
}

/* This Is for Tooltip in header icons ================================ */
.MuiTooltip-arrow {
  color: #00b207;
}
.MuiTooltip-tooltip {
  background-color: #00b207;
  color: white;
}

/* This is for login and register component =========================== */
/* This style will apply login and register checkbox border color */
.login .MuiCheckbox-colorPrimary,
.register .MuiCheckbox-colorPrimary {
  color: #4d4d4d;
}

/* This style will apply on label inside checkbox in login and register component */
.login .MuiFormGroup-root .MuiFormControlLabel-label,
.register .MuiFormGroup-root .MuiFormControlLabel-label {
  color: #4d4d4d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: none;
  user-select: none;
}

/* This style will apply on label inside checkbox when smallScreen */
.login__smallScreen .MuiFormGroup-root .MuiFormControlLabel-label,
.register_smallScreen .MuiFormGroup-root .MuiFormControlLabel-label {
  font-size: 12px;
}

/* This style will apply on checkbox in login and register component */
.login .MuiFormGroup-root .MuiCheckbox-root,
.register .MuiFormGroup-root .MuiCheckbox-root {
  padding: 9px 4px 9px 9px;
}

/* This style will apply on checkbox when focused in login and register component */
.login .MuiFormGroup-root .Mui-checked,
.register .MuiFormGroup-root .Mui-checked {
  color: #00b207;
}

/* This is for Newsletter Component ============================== */
.newsLetter .newsLetter__checkBox .css-ahj2mt-MuiTypography-root {
  color: #4d4d4d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  user-select: none;
}
.newsLetter .newsLetter__checkBox .css-i4bv87-MuiSvgIcon-root {
  width: 1.2rem;
  height: 1.2rem;
}
.newsLetter
  .newsLetter__checkBox
  .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 9px 4px 9px 9px;
}
.newsLetter
  .newsLetter__checkBox
  .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: #00b207;
}
/* Dialog Box Width For NewsLetter Component in Organisms */
.newsLetter__dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 872px;
  margin: 0px;
}
.newsLetter__dialog .css-ypiqx9-MuiDialogContent-root {
  padding: 0px;
}

/* This style for Rating compoent in Molecules======================  */
.rating .MuiRating-icon {
  color: #ff8a00;
}
/* styles apply in average rating*/
.rating .MuiLinearProgress-bar {
  background-color: #00b207 !important;
}

/* This styles for QuickView Carousel */
.quickViewDialog .MuiPaper-root {
  max-width: 1250px;
  height: calc(100% - 30px);
}
.quickView .carousel-slider img {
  border-radius: 6px;
}
.quickView .carousel .thumbs-wrapper button {
  color: green;
}
.quickView .carousel .thumbs-wrapper ul {
  display: flex;
  justify-content: center;
}
.quickView .carousel .thumbs-wrapper li {
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 0px;
  cursor: pointer;
}
.quickView .carousel .thumbs-wrapper li.selected img {
  border: 3px solid #00b207;
}
.quickView .carousel .thumbs-wrapper li img {
  border-radius: 6px;
  border: 3px solid transparent;
  width: 100%;
  height: 80px;
  object-fit: cover;
}
.quickView .carousel .control-prev.control-arrow::before {
  border-right: 8px solid #000000;
}

/* This Styles for Categories Slider Section in Categories Organisms */
.categories ul.react-multi-carousel-track {
  margin: 40px 0px 0px 0px;
}
.categories button.react-multiple-carousel__arrow {
  min-width: 23px;
  min-height: 23px;
}
.categories button::before {
  font-size: 12px;
}
.categories button.react-multiple-carousel__arrow:hover {
  background-color: #00b207;
}
.categories button.react-multiple-carousel__arrow {
  top: 0;
}
.categories button.react-multiple-carousel__arrow--left {
  left: calc(100% - 55px);
}
.categories button.react-multiple-carousel__arrow--right {
  right: 0px;
}
.categories ul li.react-multi-carousel-dot--active button {
  background-color: #00b207;
}
/* For Responsive */
.categories__smScreen ul.react-multi-carousel-track {
  margin: 65px 0px 35px 0px;
}
.categories__smScreen button.react-multiple-carousel__arrow {
  min-width: 33px;
  min-height: 33px;
}
.categories__smScreen button::before {
  font-size: 15px;
}
.categories__smScreen button.react-multiple-carousel__arrow--left {
  left: calc(100% - 75px);
}
/* End This Styles for Categories Slider Section in Categories Organisms */

/* This Styles for Testimonial Slider Section in Testimonial Organisms */
.testimonial ul.react-multi-carousel-track {
  margin: 40px 0px 0px 0px;
}
.testimonial button.react-multiple-carousel__arrow {
  min-width: 23px;
  min-height: 23px;
}
.testimonial button::before {
  font-size: 12px;
}
.testimonial button.react-multiple-carousel__arrow:hover {
  background-color: #00b207;
}
.testimonial button.react-multiple-carousel__arrow {
  top: 0;
}
.testimonial button.react-multiple-carousel__arrow--left {
  left: calc(100% - 55px);
}
.testimonial button.react-multiple-carousel__arrow--right {
  right: 0px;
}
.testimonial ul li.react-multi-carousel-dot--active button {
  background-color: #00b207;
}
/* For Responsive */
.testimonial__smScreen ul.react-multi-carousel-track {
  margin: 65px 0px 35px 0px;
}
.testimonial__smScreen button.react-multiple-carousel__arrow {
  min-width: 33px;
  min-height: 33px;
}
.testimonial__smScreen button::before {
  font-size: 15px;
}
.testimonial__smScreen button.react-multiple-carousel__arrow--left {
  left: calc(100% - 75px);
}
/* End This Styles for Testimonial Slider Section in Testimonial Organisms */

/*=============================================
=            Related Product Carousel            =
=============================================*/
/* This Styles for Testimonial Slider Section in Testimonial Organisms */
.relatedProduct ul.react-multi-carousel-track {
  margin: 40px 0px 0px 0px;
}
.relatedProduct button.react-multiple-carousel__arrow {
  min-width: 23px;
  min-height: 23px;
}
.relatedProduct button::before {
  font-size: 12px;
}
.relatedProduct button.react-multiple-carousel__arrow:hover {
  background-color: #00b207;
}
.relatedProduct button.react-multiple-carousel__arrow {
  top: 0;
}
.relatedProduct button.react-multiple-carousel__arrow--left {
  left: calc(100% - 55px);
}
.relatedProduct button.react-multiple-carousel__arrow--right {
  right: 0px;
}
.relatedProduct ul li.react-multi-carousel-dot--active button {
  background-color: #00b207;
}
/* For Responsive */
.relatedProduct__smScreen ul.react-multi-carousel-track {
  margin: 65px 0px 35px 0px;
}
.relatedProduct__smScreen button.react-multiple-carousel__arrow {
  min-width: 33px;
  min-height: 33px;
}
.relatedProduct__smScreen button::before {
  font-size: 15px;
}
.relatedProduct__smScreen button.react-multiple-carousel__arrow--left {
  left: calc(100% - 75px);
}

/*=====  End of Related Product Carousel  ======*/

/*=============================================
=            Products page filter by category radio button style            =
=============================================*/
.MuiRadio-root {
  color: #00b207;
  padding: 0px;
  padding-right: 5px;
}
.MuiRadio-root.Mui-checked {
  color: #00b207;
}
.MuiAccordion-root {
  box-shadow: none;
}
.MuiAccordionDetails-root {
  padding: 0px;
}
.categoryFilter .MuiFormControlLabel-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.MuiAccordionSummary-root {
  padding: 0px;
  min-height: 30px;
}
.MuiAccordionSummary-root.Mui-expanded {
  min-height: 20px;
  max-height: 45px;
}

.categoryFilter .MuiAccordionSummary-content {
  margin: 0px;
}
.categoryFilter .MuiAccordionDetails-root {
  padding: 0px;
}
.categoryFilter .MuiFormControlLabel-root {
  margin-left: 0px;
  margin-bottom: 10px;
}
.MuiFormControlLabel-root {
  margin: 5px 0px;
}

/*=====  End of Products page filter by category radio button style  ======*/

/*=============================================
=            Products apge filter by price slider styles            =
=============================================*/
.shopPage .MuiSlider-root {
  color: transparent;
}
.shopPage .MuiSlider-rail {
  background-color: #000;
}
.shopPage .MuiSlider-track {
  background-color: #00b207;
}
.shopPage .MuiSlider-thumb {
  background-color: #fff;
  border: 3px solid #00b207;
  width: 17px;
  height: 17px;
}
.shopPage .MuiSlider-valueLabelOpen {
  background-color: #00b207;
}
.shopPage .MuiSlider-valueLabel {
  background-color: #00b207;
}

/*=====  End of Products apge filter by price slider styles  ======*/

/*=============================================
=            Product/Shop page filter by Rating value with checkbox         =
=============================================*/
.shopPage .filterByRating .MuiRating-root {
  font-size: 17px;
}

/*=====  End Product/Shop page filter by Rating value with checkbox   ======*/

/*=============================================
=            Shopping Cart Page Coupon Dialog            =
=============================================*/
.coupon .MuiPaper-root {
  width: 100%;
  max-width: 380px;
}
.coupon .MuiInputLabel-root {
  color: #1a1a1a;
}
.coupon .MuiInputLabel-root.Mui-focused {
  color: #2b572e;
}
.coupon .MuiInputBase-root::after {
  border-bottom: 2px solid #2b572e;
}

/*=====  End of Shopping Cart Page Coupon Dialog  ======*/

/*=============================================
=            Avatar Upload Dialog Styling Start            =
=============================================*/
.avatarUploadDialog .MuiPaper-root {
  width: 100%;
  max-width: 380px;
}
.avatarUploadDialog .MuiInputLabel-root {
  color: #1a1a1a;
}
.avatarUploadDialog .MuiInputLabel-root.Mui-focused {
  color: #2b572e;
}
.avatarUploadDialog .MuiInputBase-root::after {
  border-bottom: 2px solid #2b572e;
}

/*=====  End of Avatar Upload Dialog Styling End  ======*/

/*=============================================
=            Address Dialog            =
=============================================*/
.addressDialog .MuiPaper-root {
  max-width: 800px;
}

/*=====  End of Address Dialog  ======*/

/*=============================================
=            Pagination Area Styling Start          =
=============================================*/
.pagination .MuiPaginationItem-root.Mui-selected {
  background-color: #00b207;
  color: #fff;
}
.pagination .MuiPaginationItem-root.Mui-selected:hover {
  background-color: #00b207;
}
.pagination .MuiPaginationItem-root:hover {
  background-color: #cccccc;
}

/*=====  End of Pagination Area Styling End  ======*/

/*=============================================
=            Avatar Styles in Header Section Login Component            =
=============================================*/

.dashboardLinks .MuiList-root {
  width: 200px;
}

/*=====  End of Avatar Styles in Header Login Component  ======*/

/*=============================================
=            ProgressBar Styling            =
=============================================*/
.linearProgess .MuiLinearProgress-bar {
  background-color: #00b207;
}
.linearProgess .MuiLinearProgress-root {
  background-color: #ddd;
}

/*=====  End of ProgressBar Styling  ======*/

/*=============================================
=            Delete Alert Dialog Start            =
=============================================*/
.deleteAlert .MuiPaper-root {
  min-width: 450px;
}
/*=====  End of Delete Alert Dialog End  ======*/

/*=============================================
=            Shopping Carts Dialog Start            =
=============================================*/
.shoppingCart .MuiPaper-root {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  height: 100%;
  max-height: 100%;
  max-width: 400px;
  width: 400px;
  margin: 0px;
}
/*=====  End of Shopping Carts Dialog End  ======*/

/*=============================================
=            Payment option dialog in checkout component            =
=============================================*/
.paymentOption .MuiPaper-root {
  width: 450px;
}

/*=====  End of Payment option dialog in checkout component  ======*/

/*=============================================
=            SslPayment Option Dialog in Checkout component Start            =
=============================================*/
.sslPaymentOption .MuiPaper-root {
  width: 550px;
}

/*=====  End of SslPayment Option Dialog in Checkout component End  ======*/

/*=============================================
=            Submenu or Stepper in Sales Dashboard            =
=============================================*/
.salesDashboard .MuiStepButton-vertical {
  border-radius: 8px;
}
.salesDashboard .MuiStepLabel-iconContainer svg {
  color: #1a1a1a;
}
.salesDashboard .MuiStepLabel-iconContainer.Mui-active svg {
  color: #00b207;
}
.salesDashboard .MuiStepLabel-label {
  color: #1a1a1a;
}
.salesDashboard .MuiStepLabel-label.Mui-active {
  color: #00b207;
}

/*=====  End of Submenu or Stepper in Sales Dashboard  ======*/

/*=============================================
=            EditProductDialog Styling Start            =
=============================================*/
.editProductDialog .MuiPaper-root {
  width: 100%;
  max-width: 800px;
}
.editProductDialog .MuiDialogContent-root {
  padding: 0px 24px;
}

/*=====  End of EditProductDialog Styling End  ======*/

/*=============================================
=            Mui Skeleton styling            =
=============================================*/
.MuiSkeleton-root {
  background-color: rgba(0, 0, 0, 0.31);
}

/*=====  End of Mui Skeleton styling  ======*/
