@import "@/styles/style.scss";
.navbar {
  width: 90%;
  height: auto;
  margin: 0px auto;
  header {
    background-color: $white;
    height: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: none;
  }
  &__menu {
    width: 35px;
    height: auto;
    fill: $primary;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    &:hover {
      fill: $hardPrimary;
    }
    &_sm {
      width: 25px;
    }
  }
  &__logoImg {
    width: auto;
    height: 35px;
    align-items: center;
    display: flex;
    &_sm {
      width: auto;
      height: 20px;
    }
  }
  .searchInput {
    width: 900px;
  }

  @include downSmScreen {
    .navbar {
      width: 95%;
    }
  }
}
