@import "@/styles/style.scss";
.heading {
  @extend %heading-01-600;
  color: $gray-1000;
  margin-bottom: 24px;
}
.para {
  @extend %body-lg-400;
  color: $gray-700;
  margin-bottom: 24px;
}

@include downLgScreen {
  .heading {
    font-size: 2rem;
  }
  .para {
    font-size: 0.875rem;
  }
  @include downSmScreen {
    .heading {
      font-size: 1.5rem;
    }
  }
}
