@import "@/styles/style.scss";
.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid $gray-200;
  width: 148px;
  height: auto;
  padding: 4px 8px;
  border-radius: 55px;
  &__btn {
    background-color: $gray-200;
    color: $gray-1000;
    &:hover {
      background-color: $gray-400;
    }
  }
  &__value {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 50px;
  }
  &__mediumScreen {
    .quantity__value {
      font-size: 14px;
      width: 40px;
    }
    .quantity__icon {
      width: 12px;
      height: 12px;
    }
  }
  &__smallScreen {
    .quantity__value {
      font-size: 12px;
      width: 30px;
    }
    .quantity__icon {
      width: 10px;
      height: 10px;
    }
  }
}
