.navbarIcon {
  button {
    margin-right: 8px;
    padding: 5px 5px;
    &:last-child {
      margin-left: 5px;
    }
  }
  span {
    span {
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }
  }
  svg {
    width: 0.8em;
    height: 0.8em;
  }
}
