@import "@/styles/style.scss";
.recent {
  width: 100%;
  height: auto;
  &__tableContainer {
    box-shadow: none;
    border: 1px solid $gray-300;
  }
  &__table {
    min-width: 1120px;
  }
  &__tableHead {
    background-color: $gray-200;
  }
  &__tableCell {
    @extend %body-sm-400;
    color: $gray-1000;
  }
  &__tableCellTH {
    @extend %body-xs-600;
    text-transform: uppercase;
    background-color: $gray-200;
  }
  &__orderId {
    @extend %body-sm-400;
    color: $gray-1000;
  }

  &__productImg {
    width: 60px;
    height: auto;
    border-radius: 4px;
    margin: 4px;
  }
  &__date {
    @extend %body-sm-400;
    color: $gray-1000;
  }
  &__tableRow:last-child {
    border-bottom: none;
  }
  &__priceCell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &__totalPrice {
    @extend %body-sm-400;
    color: $gray-1000;
    margin-right: 6px;
  }
  &__productItems {
    @extend %body-sm-400;
    color: $gray-800;
  }
  &__currencyIcon {
    width: 18px;
    height: 18px;
    margin-top: -3px;
    user-select: none;
  }
  &__paidStatus {
    @extend %body-sm-400;
    color: $gray-1000;
  }
}
