@import "@/styles/style.scss";
.table {
  &__row {
    border-bottom: 1px solid $gray-300;
  }
  &__row:nth-child(n) {
    background-color: $gray-200;
  }
  &__row:nth-child(2n) {
    background-color: $gray-100;
  }
  &__cellKey {
    @extend %body-sm-400;
    color: $gray-1000;
    text-align: center;
  }
  &__cellValue {
    @extend %body-sm-400;
    color: $gray-700;
    text-align: center;
  }
}
