@import "@/styles/style.scss";
.priceRange {
  width: 80%;
  margin-left: 8px;
  &__priceText {
    @extend %body-sm-400;
    color: $gray-800;
  }
  &__priceNumber {
    @extend %body-sm-500;
    color: $gray-1000;
  }

  @include downMdScreen {
    &__priceText {
      font-size: 0.75rem;
    }
    &__priceNumber {
      font-size: 0.75rem;
    }
  }
}
