@import "@/styles/style.scss";
.productIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  &__quickViewIcon {
    background-color: $white;
    -webkit-box-shadow: 0 2px 4px -1px rgba(145, 158, 171, 0.2),
      0 4px 5px 0 rgba(145, 158, 171, 0.14),
      0 1px 10px 0 rgba(145, 158, 171, 0.12);
    box-shadow: 0 2px 4px -1px rgba(145, 158, 171, 0.2),
      0 4px 5px 0 rgba(145, 158, 171, 0.14),
      0 1px 10px 0 rgba(145, 158, 171, 0.12);
    margin-right: 5px;
    &:hover {
      background-color: $primary;
      .productCart__icon {
        color: $white;
      }
    }
  }
  &__whilistIcon {
    background-color: $white;
    -webkit-box-shadow: 0 2px 4px -1px rgba(145, 158, 171, 0.2),
      0 4px 5px 0 rgba(145, 158, 171, 0.14),
      0 1px 10px 0 rgba(145, 158, 171, 0.12);
    box-shadow: 0 2px 4px -1px rgba(145, 158, 171, 0.2),
      0 4px 5px 0 rgba(145, 158, 171, 0.14),
      0 1px 10px 0 rgba(145, 158, 171, 0.12);
    margin-right: 5px;
    &:hover {
      background-color: $primary;
      .productCart__icon {
        color: $white;
      }
    }
  }
  &__cartIcon {
    background-color: $white;
    -webkit-box-shadow: 0 2px 4px -1px rgba(145, 158, 171, 0.2),
      0 4px 5px 0 rgba(145, 158, 171, 0.14),
      0 1px 10px 0 rgba(145, 158, 171, 0.12);
    box-shadow: 0 2px 4px -1px rgba(145, 158, 171, 0.2),
      0 4px 5px 0 rgba(145, 158, 171, 0.14),
      0 1px 10px 0 rgba(145, 158, 171, 0.12);
    &:hover {
      background-color: $primary;
      .productCart__icon {
        color: $white;
      }
    }
  }
  svg.productCart__icon {
    color: #000;
    font-size: 18px;
  }
}
