@import "@/styles/style.scss";
.details {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.25);
  border: 1px solid $gray-300;
  border-radius: 8px;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray-300;
    padding: 20px;
  }
  &__headText {
    @extend %body-xl-500;
    color: $gray-1000;
  }
  &__headDate {
    @extend %body-sm-400;
    color: $gray-800;
  }

  &__body {
    padding: 20px;
  }

  &__subBody {
    padding: 20px;
  }
  &__subBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
  }
  &__grandBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    border-top: 1px solid $gray-300;
  }
  &__boxKey {
    @extend %body-sm-400;
    color: $gray-800;
  }
  &__currencyIcon {
    width: 18px;
    height: 18px;
    margin-top: -3px;
    user-select: none;
  }
  &__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @extend %body-sm-500;
    color: $gray-1000;
  }
  &__grandTotal {
    @extend %body-md-600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: $gray-1000;
  }

  &__subTotalArea {
    width: 98%;
    margin-left: auto;
    border: 1px solid $gray-300;
    border-radius: 8px;
  }
  &__subTotalHead {
    display: flex;
    border-bottom: 1px solid $gray-300;
    padding: 20px;
  }
  &__subTotalLeft {
    width: 50%;
    border-right: 1px solid $gray-300;
    text-align: center;
  }
  &__subTotalOrderIdText {
    @extend %body-sm-400;
    text-transform: uppercase;
    color: $gray-500;
  }
  &__subTotalOrderId {
    @extend %body-sm-400;
    color: $gray-1000;
  }
  &__subTotalRight {
    width: 50%;
    text-align: center;
  }
  &__subTotalPaymentText {
    @extend %body-sm-400;
    text-transform: uppercase;
    color: $gray-500;
  }
  &__subTotalPayment {
    @extend %body-sm-400;
    color: $gray-1000;
  }

  // Order Cancel Area
  &__cancelArea {
    width: 100%;
    height: auto;
    padding: 16px;
    margin: 24px 0px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 12px -3px #a7b4ab;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__cancelHeadText {
    @extend %body-md-600;
    color: $gray-1000;
  }
  &__cancelInfoText {
    @extend %body-sm-400;
    color: $gray-1000;
  }

  // Seller Product Area
  &__seller {
    width: 100%;
    height: auto;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 24px;
    box-shadow: 0px 0px 12px -3px #a7b4ab;
  }
  &__sellerHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__sellerName {
    @extend %body-sm-400;
    color: $gray-800;
    &V {
      @extend %body-sm-600;
      color: $gray-1000;
    }
  }
  &__sellerResponseTime {
    @extend %body-sm-400;
    color: $gray-800;
    &V {
      @extend %body-sm-600;
      color: $gray-1000;
    }
  }
  &__tracker {
    margin: 32px 0px;
    padding: 20px;
    border: 1px solid $gray-300;
    border-radius: 8px;
    overflow-x: scroll;
  }
  &__trackHead {
    @extend %body-sm-600;
    color: $gray-1000;
    margin-bottom: 25px;
  }
  &__orderProducts {
    margin: 20px 0px;
  }

  // For Responsive
  @include downLgScreen {
    &__addressArea {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    &__subTotalArea {
      width: 100%;
    }
  }
}
