@import "@/styles/global.module.scss";
.product {
  &__headText {
    @extend %heading-05-600;
    color: $gray-1000;
    text-align: center;
    margin-bottom: 32px;
  }

  // For Responsive
  @include downMdScreen {
    &__headText {
      font-size: $fs-xxxl;
    }
  }

  @include downSmScreen {
    &__headText {
      font-size: $fs-md;
    }
  }
}
