@import "@/styles/style.scss";
.cart {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  &__deliverTo {
    @extend %body-sm-400;
    color: $gray-1000;
    margin-bottom: 6px;
  }
  &__deliverName {
    @extend %body-sm-600;
  }
  &__addressText {
    @extend %body-xs-400;
    color: $gray-1000;
    margin-bottom: 6px;
  }
  &__addressAreaText {
    @extend %body-xs-500;
    color: $gray-1000;
    margin-bottom: 6px;
  }
  &__addressNumber {
    @extend %body-xs-400;
    color: $gray-1000;
    margin-bottom: 6px;
  }
  &__addressLandmark {
    @extend %body-xs-400;
    color: $gray-1000;
    margin-left: 6px;
  }
  &__selected {
    background-color: #c9f6ca;
    border: 1px solid $primary;
  }
}
