@import "@/styles/style.scss";
.shop {
  width: 100%;
  height: auto;

  &__contentWrapper {
    display: flex;
    justify-content: flex-start;
  }

  &__leftContent {
    width: 320px;
    margin-right: 24px;
  }
  &__priceFilterSection {
    margin-top: 20px;
  }
  &__ratingFilterSection {
    margin-top: 20px;
  }
  &__tagsFilterSection {
    margin-top: 20px;
  }
  &__rightContent {
    width: 100%;
    height: auto;
  }

  &__sortByText {
    @extend %body-sm-400;
    color: $gray-600;
    margin-right: 10px;
  }
  &__resultFoundText {
    @extend %body-md-400;
    color: $gray-700;
  }
  &__resultFoundCount {
    @extend %body-md-600;
    color: $gray-1000;
  }
  &__fetchProduct {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__noMoreProducts {
    width: 100%;
    height: auto;
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $gray-100;
    margin: 25px 0px;
  }
  &__noMoreText {
    @extend %body-md-400;
    color: $gray-1000;
    margin-bottom: 16px;
  }

  // For Responsive

  @include downMdScreen {
    &__leftContent {
      max-width: 150px;
    }
  }

  @include downSmScreen {
    &__contentWrapper {
      flex-direction: column;
    }
    &__leftContent {
      max-width: 100%;
      width: 100%;
      margin-bottom: 25px;
      display: initial;
      // justify-content: space-between;
      // align-items: flex-start;
    }
    &__rightContent {
      max-width: 100%;
      width: 100%;
    }
    &__priceFilterSection {
      margin-top: 0px;
    }
    &__ratingFilterSection {
      margin-top: 0px;
    }
    &__tagsFilterSection {
      margin-top: 0px;
    }
  }
}
