@import "@/styles/style.scss";

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px 30px 0px;
  &__BtnArea {
    width: 320px;
    margin-right: 24px;
  }
  &__RightArea {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__Btn {
    @extend %body-sm-600;
    background-color: $primary;
    color: $white;
    border-radius: 25px;
    padding: 10px 25px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: $primary;
    }
  }

  &__BtnIcon {
    width: 15px;
    height: auto;
    margin-left: 8px;
  }
  &__selectArea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__sortByText {
    @extend %body-sm-400;
    color: $gray-600;
    margin-right: 10px;
  }
  &__resultFoundText {
    @extend %body-md-400;
    color: $gray-700;
  }
  &__resultFoundCount {
    @extend %body-md-600;
    color: $gray-1000;
  }
}
