@import "@/styles/style.scss";
.location {
  width: 100%;
  height: auto;
  &__listItemDefault {
    @extend %body-sm-400;
    color: $gray-800;
    padding: 4px 0px !important;
  }
  &__listItem {
    @extend %body-sm-400;
    color: $primary;
    padding: 4px 10px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: $greenGray2;
    }
  }
}
