.newsLetterForm {
  input {
    border-radius: 25px 0px 0px 25px;
    padding: 10px 35px 10px 20px;
    border-right: none;
  }
  button {
    border-radius: 35px;
    padding: 8px 35px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: -20px;
  }
}
